@charset "UTF-8";
/* CSS Document */

#header {
    background-color: #E9FF84;
    padding: 10px;
    height: 300px;
    margin-bottom: 10px;
}
#nav {
    background-color: #FACBCB;
    height: 70px;
    margin-bottom: 10px;
    padding-top: 10px;
}
#left {
    background-color: #C1AEFF;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
    height: 600px;
    width: 30%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
#centro {
    background-color: #FCEBA3;
    padding: 10px;
    float: left;
    height: 600px;
    width: 30%;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
}
#derecha {
    background-color: #CBFFF7;
    padding: 10px;
    float: right;
    height: 600px;
    width: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#section {
    background-color: #DF7BFA;
    margin-bottom: 10px;
    margin-top: 10px;
}
#banner {
    background-color: #D3FFCA;
    padding: 10px;
    height: 200px;
    margin-bottom: 10px;
}
#mainhead {
    background-color: #ACDEFF;
    padding: 10px;
    height: 30px;
    margin-bottom: 10px;
}
#footer {
    background-color: #FF9B58;
    padding: 10px;
    height: 150px;
    margin-bottom: 10px;
}
#menufijo {
    background-color: #1B3BE0;
    margin-left: 33%;
    position: fixed;
}
#c1 {
    background-color: #A989C9;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 1;
    left: 231px;
    top: 778px;
}
#c2 {
    background-color: #F1FF00;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 2;
}
#c2 {
    background-color: #D8ED2A;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 54px;
}
#c3 {
    background-color: #FFFFFF;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 3;
    left: -1px;
    top: 52px;
}
#c4 {
    background-color: #96E891;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 4;
    left: 1px;
    top: 52px;
}
#c5 {
    background-color: #E97658;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 55px;
}
